[submodule "deps/STDC"]
	path = deps/STDC
	url = git@github.com:macmade/STDC.git
[submodule "deps/EOS-SKL"]
	path = deps/EOS-SKL
	url = git@github.com:macmade/EOS-SKL.git
[submodule "deps/CLibs"]
	path = deps/CLibs
	url = git@github.com:macmade/CLibs.git
